<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Example App</title>

	<link rel="stylesheet"
				href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="style.css">

	<style type="text/css">
		body{
			background-color: wheat;
		}
		.navbar{
			margin-top: 20px;
		}
		.nav li{
			margin-right: 40px;
			
		}
		a{	
			color: red;
		}
	</style>
</head>


<body>
<div class="container">
		<nav class="navbar navbar-inverse ">
		  <ul class="nav navbar-nav navbar-right">
		   <li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
			
		  </ul>
		  <p class="navbar-text">Assignment week-8</p>
		</nav>
<!-- *************************************** -->
<div class="row">
  <div class="col-md-3">
 <span id="btn-one" class="btn btn-block btn-large btn-success disabled green_btn">One</span><br>

<span id="btn-one" class="btn btn-block btn-large btn-success disabled green_btn">One</span><br>

<span id="btn-one" class="btn btn-block btn-large btn-success disabled green_btn">One</span><br>

<span id="btn-one" class="btn btn-block btn-large btn-success disabled green_btn">One</span><br>

<span id="btn-one" class="btn btn-block btn-large btn-success disabled green_btn">under process</span><br>

<span id="btn-one" class="btn btn-block btn-large btn-success disabled green_btn">under process</span><br>

<span id="btn-one" class="btn btn-block btn-large btn-success disabled green_btn">under process</span><br>

<span id="btn-one" class="btn btn-block btn-large btn-success disabled green_btn">under process</span><br>

<span id="btn-one" class="btn btn-block btn-large btn-success disabled green_btn">under process</span><br>
  </div>
<!-- *************************************** -->
  <div class="col-md-9">
   <div class="jumbotron">
          <h4>Node and Express Servers</h4>
<img src="cinqueterre.jpg" class="img-rounded" alt="Cinque Terre" width="150" height="100">



	{{{body}}}

  </div>
</div>
<!-- *************************************** -->
	<footer>
		<h5 class="text-center">&copy; assignment by zubaer</h5>
	</footer>
</div>
</body>
</html>