
<style type="text/css">
		#imgName{
			float: left;
			margin-right: 10px;
		}
</style>

<img src="assets\imagesHome\05.jpg" class="img-circle"  width="100" height="70">
<img src="assets\imagesHome\06.jpg" class="img-rounded" width="100" height="70">
<img src="assets\imagesHome\03.jpg" class="img-circle"  width="100" height="70">
<img src="assets\imagesHome\04.jpg" class="img-rounded"  width="100" height="70">

<img src="assets\imagesHome\01.jpg" class="img-circle"  width="100" height="70">
<img src="assets\imagesHome\02.jpg" class="img-rounded"  width="100" height="70">


<h4>Update name you want:</h4>
<h4>Nmae of Database: fifagame</h4>
<h4>Name of Table: editnametest</h4>

<h4>Your name: {{this.Name}} </h4>

<hr>
<h4> All Names</h4>
<!--==========================-->

<ul>
	{{#each playernames1}}
		<li>
		<p>ID:  {{this.id}}</p>						
		<p>Name:  {{this.Name}}</p>			
		</li>
	{{/each}}
</ul>

<!--==============-->